@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    * {
      /* Your global styles here */
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      background-color: #242424;
    }
  }